<link rel="preload" type="text/javascript" as="script" href="{{ 'http://rs.kdxiaoyi.top/res/static/pages_sober/@3.1.0/pmd.min.js?v=' | append: site.github.build_revision | relative_url }}" />
<link rel="stylesheet" href="{{ 'http://rs.kdxiaoyi.top/res/static/pages_sober/@3.1.0/normalize.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="{{ 'http://rs.kdxiaoyi.top/res/static/pages_sober/@3.1.0/predef.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="{{ 'http://rs.kdxiaoyi.top/res/static/pages_sober/@3.1.0/pmd.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="{{ 'http://rs.kdxiaoyi.top/res/static/pages_sober/@3.1.0/sober-theme.css?v=' | append: site.github.build_revision | relative_url }}">
<script src="{{ 'http://rs.kdxiaoyi.top/res/static/pages_sober/@3.1.0/sober@1.1.8.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script src="{{ '/pmd.js?v=' | append: site.github.build_revision | relative_url }}"></script>